@import '../../../assets/sass/helpers/variables';

#logo-container{
  height: 50%;
  width: 100%;
  padding-bottom: 0;
  margin-bottom: -2em;
  overflow: hidden;
}

.logo{
  height: 100%;
  width: 100%;
  z-index: 10;
}

#welcome-msg-container{
  height: 50%;
  width: 100%;
  font-size: 2em;
  color: $white;
  overflow: hidden;
}

.welcome{
  height: 15%;
  width: 100%;
  line-height: 2.1rem;
  font-size: 3.5rem;
  text-align: center;
  overflow: hidden;
}

.welcome-msg{
  height: 18%;
  width: 100%;
  line-height: 3rem;
  text-align: center;
}

.typewriter{
  height: 20%;
  padding: 0px;
}

.Typewriter{
  overflow: hidden;
}
