@import '../../../assets/sass/helpers/variables';

.info-links {
  justify-content: center;
  align-items: center;
}

a.social {
  padding: 10px;
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-10px);
}

a.github {
  color: #000;
}

a.linkedIn {
  color: #0072b1;
}

a.twitter {
  color: #49a1eb;
}

a.resume{
  color: #FFF;
}
