@import '../../../../assets/sass/helpers/variables';


::placeholder{
  color: $light-blue;
  font-size: 1.8rem;
  font-weight: 700;
}

.contact-container{
  height: 100%;
  width: 100%;
  // justify-content: center;
  // align-items: center;
  // text-align: center;
  padding-bottom: 4rem;
  overflow: hidden;
}

.contact-info{
  color: $off-white;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.7rem;
  line-height: normal;
  margin: 1rem;
}

.contact-form{
  height: 100%;
  width: 100%;
}

.form-flex{
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.form-input{
  height: 7%;
  width: 75%;
  font-size: 1.8rem;
  text-align: center;
}

.form-textarea{
  height: 15%;
  width: 78%;
  font-size: 1.8rem;
  text-align: center;
  padding: 1.5rem 5px 0 5px;
}

.submit-container{
  height: 13%;
  width: 80%;
  overflow: hidden;
}

.submit-btn{
  height: 13%;
  width: 50%;
  border: none;
  border-radius: 50px;
  font-size: 2rem;
  font-weight: 600;
  color: $light-gray;
  background-color: $blue;
  margin: 1rem;
}


@media screen and (min-width: 768px) {
  .form-input{
    width: 55%;
    font-size: 1.7rem;
  }

  .form-textarea{
    width: 58%;
  }

  .submit-btn{
    height: 14%;
    width: 55%;
    font-size: 2.3rem;
  }

}

@media screen and (min-width: 1024px) {
  .form-input{
    width: 35%;
  }

  .form-textarea{
    width: 40%;
    padding: 1.8rem 5px 0 5px;
  }

  .submit-btn{
    height: 14%;
    width: 31%;
    font-size: 2.5rem;
  }
}