@import 'helpers/variables';


// .navbar{
//   height: 0%;
//   width: 100vw;
//   background-color: transparent;
//   position: fixed;
//   top: 0;
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
//   padding: .5rem;
//   overflow: visible;
//   opacity: 0;
//   z-index: 1;
// }

// .navbar.active{
//   opacity: 1;
// }

.navbar{
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: transparent;
  z-index: 1;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0em 38em;
  grid-template-areas:
    "nav-logo menu-icon"
    "home home"
    "about about"
    "projects projects"
    "blog blog"
    "contact contact";
}

.navbar.active{
  opacity: 1;
}

// ! Edit
.nav-logo{
  height: 50%;
  object-fit: cover;
  grid-area: nav-logo;
  opacity: 0;
  // z-index: 1;
}

.menu-icon{
  grid-area: 'menu-icon';
}

.nav-home{
  grid-area: home;
  font-size: 1.7rem;
}

.nav-about{
  grid-area: about;
  font-size: 1.7rem;
}

.nav-projects{
  grid-area: projects;
  font-size: 1.7rem;
}

.nav-blog{
  grid-area: blog;
  font-size: 1.7rem;
}

.nav-contact{
  grid-area: contact;
  font-size: 1.7rem;
}


// .nav-logo-container{
//   width: 100%;
//   display: flex;
//   justify-content: flex-start;
//   align-items: center;
//   z-index: 1;
//   opacity: 0;
// }

// .nav-logo-container.active{
//   opacity: 1;
//   z-index: 1;
// }

// .nav-logo{
//   width: 30%;
// }

// .brand-logo{
//   width: 100%;
//   padding: 5rem 0 0 0;
// }

.menu-icon {
  display: none;
}

.nav-menu {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
}



.nav-link {
  color: white;
  justify-content: center;
  // line-height: 5rem;
  text-decoration: none;
  padding: .5rem .5rem;
}

.nav-link:hover {
  background-color: $red;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

// .nav-link-mobile {
//   display: none;
// }


@media screen and (min-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: $black;
    top: 0;
    left: 0;
    padding: 5rem 0 0 0;
    opacity: 95%;
    transition: all .5s ease-in-out;
  }

  .nav-link {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-link:hover {
    background-color: $orange;
    border-radius: 0;
  }

  .menu-icon {
    display: block;
    position: absolute;
    background-color: transparent;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    margin: .1rem .3rem 0 0;
    z-index: 100;
  }


  .fa-bars{
    color: $white;
    font-size: 2.1rem;
  }

  .fa-times {
    color: $white;
    font-size: 2.1rem;
  }

  // .nav-link-mobile {
  //   display: block;
  //   text-align: center;
  //   padding: 1.5rem;
  //   margin: 2rem auto;
  //   border-radius: 4px;
  //   width: 80%;
  //   background: #1888ff;
  //   text-decoration: none;
  //   color: #fff;
  //   font-size: 1.5rem;
  // }

  // .nav-link-mobile:hover {
  //   background: #fff;
  //   color: #1888ff;
  //   transition: 250ms;
  // }

  // button {
  //   display: none;
  // }
}