@import 'helpers/variables';


.navbar-logo-container{
  height: 7rem;
  width: 7rem;
}

.navbar-logo{
  // background-color: transparent;
  height: 100%;
  width: 100%;
}

.menu-icon{
  height: 2em;
  width: 2em;
  margin-right: 2em;
}


.link-container{
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: $black;
}

.link-list{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  // color: #fff;
  font-weight: 700;
}

.page-link{
  list-style: none;
  font-size: 30px;
  text-decoration: none;
}