@import 'helpers/variables';



.link-container{
  height: 100%;
  width: 100%;
  background-color: $black;
}

.link-list{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  // color: #fff;
  font-weight: 700;
}

.page-link{
  list-style: none;
  font-size: 30px;
  text-decoration: none;
}