@import 'helpers/variables';


#intro{
  height: 35%;
  margin: 1em 0 0 0;
  overflow: hidden;
}


.intro-img{
  height: 58%;
  width: 58%;
  border: .3rem solid $blue;
  border-radius: 50%;
  margin: 1rem;
  overflow: hidden;
}

#about-me-container{
  height: 58%;
  padding: 0 1rem;
  overflow: hidden;
}

.about-summary{
  height: 52%;
  font-size: 1.5rem;
  font-weight: 550;
  line-height: 2rem;
  padding: .1rem 0;
  overflow: hidden;
}

.skill-list{
  height: 50%;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  padding: 1rem 0;
  overflow: hidden;
}


#home-social-container{
  height: 13%;
  width: 100%;
  padding-top: 1rem;
  position: relative;
  bottom: 0;
  overflow: hidden;
}

.social-header{
  font-size: 2.4em;
  font-weight: 700;
  line-height: 3rem;
  color: $off-white;
  overflow: hidden;
}

.social-links{
  overflow: hidden;
}



@media screen and (min-width: 960px) {
  .intro-img{
    height: 80vh;
    width: 30vw;
  }

  #about-me-container{
    margin: 0 3rem;
  }

  .about-summary{
    height: 52%;
    font-size: 2.5rem;
    font-weight: 550;
    line-height: 3.5rem;
    padding: 1rem 0;
    overflow: hidden;
  }
  
  .skill-list{
    height: 50%;
    width: 100%;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 3.5rem;
    padding: 2rem 0;
    overflow: hidden;
  }

  #home-social-container{
    height: 13%;
    width: 100%;
    padding-top: 1rem;
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  .social-links{
    width: 50%;
    border-radius: 20%;
  }
}



@media screen and (min-width: 1200px) {

  .intro-img{
    height: 60vh;
    width: 30vw;
  }

}