

.text-container{
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
}


.home-intro{
  justify-self: flex-start;
  align-self: flex-start;
}




.home-social-container{
  width: 100%;
  position: absolute;
  bottom: 0;
}

.social-header{
  font-size: 3rem;
}