@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

span{
  overflow: hidden;
}

.footer-left{
  height: 110%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Crimson Text', serif;
  font-size: 1rem;
  line-height: 1.3rem;
  overflow: hidden;
}

.footer-text{
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.7rem;
  overflow-y: hidden;
}

.footer-mid{
  text-align: center;
  font-family: 'Crimson Text', serif;
  position: absolute;
  bottom: 50;
  right: 0;
  left: 0;
  overflow: hidden;
}

.footer-right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}

a.social-footer {
  margin: 0 .5rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-5px);
}
