@import 'helpers/variables';

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.background{
  position: fixed;
  top: 0;
}

.App{
  height: 100vh;
  width: 100vw;
  // position: relative;
}

.particles{
  z-index: -1;
  background-color: #000;
}




#landing{
  height: 100vh;
  width: 100vw;
  position: relative;
  font-family: 'PT Serif', serif;
  overflow: hidden;
}

#mob-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

#navbar{
  height: 5.5vh;
  width: 100vw;
  // position: relative;
}


#home-container{
  height: 180vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  // justify-content: space-around;
  position: relative;
  font-family: 'Playfair Display', serif;
  text-align: center;
  z-index: 0;
  background-color: #000322;
  color: #d1cfcf;
  // background-color: rgb(67, 67, 68);
}


#footer{
  height: 5vh;
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: rgb(82, 72, 72);
  color: $white;
  padding: 1rem 0 1rem 1rem !important;
  bottom: 0 !important;
}