@import 'helpers/variables';

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.background{
  position: fixed;
  top: 0;
}

.App{
  height: 100%;
  width: 100vw;
}


.particles{
  z-index: -1;
  background-color: #000;
}







.page-title{
  width: 100vw;
  font-size: 2.7rem;
  font-weight: 600;
  line-height: 3.5rem;
  // border: 3px solid $black;
  background-color: $blue;
  opacity: 50%;
  color: $off-white;
  padding: 1rem .25rem 1rem .25rem;
  margin: 2rem 0 0 0;
}

.text-margin{
  margin: 0 .2rem 0 .2rem;
}


.underline{
  text-decoration: underline;
}


.nav-logo{
  height: 100px;
  width: 100px;
  display: flex;
  justify-self: center;
  overflow: hidden;
}




#landing{
  height: 100vh;
  width: 100vw;
  position: relative;
  font-family: 'PT Serif', serif;
  overflow: hidden;
}



#about{
  height: 100%;
  width: 100vw;
  font-family: 'Playfair Display', serif;
  display: flex;
  flex-grow: 1;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  // text-align: center;
  // position: relative;
  background-color: $dark-gray;
  color: $off-white;
}


#home-container{
  height: 100%;
  width: 100vw;
  padding: 0 0 1rem 0;


  display: flex;
  flex-direction: column;
  flex-grow: 1;
  // justify-content: space-around;
  position: relative;
  font-family: 'Playfair Display', serif;
  text-align: center;
  z-index: 0;
  background-color: $dark-gray;
  color: $off-white;
  // background-color: rgb(67, 67, 68);
}

#projects{
  height: 100%;
  width: 100vw;
  padding: 0 0 1rem 0;
  font-family: 'Playfair Display', serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-evenly;
  align-items: center;
  background-color: $dark-gray;
  position: relative;
}

#contact{
  height: 100vh;
  width: 100vw;
  padding: 0 0 1rem 0;
  font-family: 'Playfair Display', serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-evenly;
  align-items: center;
  background-color: $dark-gray;
  position: relative;
}


#footer{
  height: 8vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(82, 72, 72);
  color: $white;
  padding: 1rem 0 1rem 1rem;
  bottom: 0 !important;
  overflow: hidden;
}

// !!!!!!!!!!!!!!!!!!!!!!!!!!!! Consider Removing?

.page-logo-container{
  height: 10vh;
  width: 31vw;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  border-radius: 50%;
  margin: 2% 0 0 2%;
  background-color: $off-white;
  padding-top: 35%;
  opacity: 50%;
}
